* {
    box-sizing: border-box;
}

body {
    font-family: 'segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    background: #f9f9f9;
    width: 100%;
    max-width: 500px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1 );
}

h2 {
    text-align: center;
    color: #333;
    margin-top: 0;
}

.balance-card {
    background: #ffd900;
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
}

.balance-card h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: normal;
}

.balance-card h1 {
    margin: 0;
    font-size: 28px;    
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    text-align: center;
    gap: 10px;
}

.summary div {
    flex: 1;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
}

.income-box { background: #28a745;}
.expense-box {background: #cd3545;}

.summary h4 {margin: 0 0 5px 0; font-size: 14px;}
.summary p { margin: 0; font-size: 20px; font-weight: bold;}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 25px;
}

input, select, button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
    outline: none;
}

input:focus, select:focus {
    border-color: #007bff;
}

.btn-submit {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
}

.btn-submit:hover {
    background: #0056b3;
}

.search-container {
    margin-bottom: 15px;
}

.search-container input {
    width: 100%;
    border-color: #bbb;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 300px;
    overflow-y: auto;
}

li {
    background: #f9f9f9;
    padding: 12px 15px;
    border-left: 5px solid #ccc;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

li.plus { border-left-color: #28a745;}
li.minus { border-left-color: #cd3545;}

.li-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.li-detail {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #666;
}

.btn-clear {
    background: #cd3545;
    color: white;
    width: 100%;
    border: none;
    margin-top: 20px;
    font-weight: bold;
}

.btn-clear:hover {
    background: #666;
}